@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    
    margin: 0;
    padding: 0;
}

body{
    
    background-image: url(yeshi-kangrang-Qq7A85iCzhQ-unsplash.jpg);
    background-size: cover;
    opacity: 1;
    
}

.testing{
    
    height: 85vh;
    width: 12vw;
    background-color: 
    position: absolute;
    border-top-right-radius: 12px;
    
    
    
}
.name{
    
    font-family: 'Titillium Web', sans-serif;
    margin: 24px;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    padding: 5px;
    border-radius: 30px;
    letter-spacing: 2px;
    color: white;
    
    
    
}
.images{
    
    display: flex;
    flex-direction: column;    
    margin-top: 1px;
    

}
.image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8,.image9,.image10{
    
    margin-top: 18px;
    cursor: pointer;
    margin-left: 0; 
    
}
a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    padding: 10px;
    padding-right: 35px;
    
}

.text1,.text2,.text3,.text4,.text5,.text6,.text7,.text8,.text9,.text10{
    
    position: absolute;
    padding-top: -2px;
    padding-left: 8px;
    font-family: 'Source Code Pro', monospace;
    background-color: ;
    border-radius: 20px;
    padding-right: 4px;
    
    
}
.text1:hover,.text2:hover,.text3:hover,.text4:hover,.text5:hover,.text6:hover,.text7:hover,.text8:hover,.text9:hover,.text10:hover{
    
   background-color: black;
   font-size: 20px;
    
}


.logoname{
    
    position: absolute;
    left: 51px;
    top: 20px;
    height: 25px;
    
}
.switchin{
    
    position: absolute;
    top:10px;
    left: 115px;
    border-radius: 0;
}

.owner{
    
    color: white;
    position: absolute;
    bottom: 2px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-feature-settings: normal;
    
}
img{
    
    background-color: white;
    height: 21px;
    border-radius: 50%;
}


.owner:hover{
    
}

img:hover{
    
    height: 24px;
}














